.pricing-container{
background-color: #fefdfd;

height:400px;
width:100%;
text-align: center;
padding-top:50px;
color: black;
}
.price-list{
list-style-type: none;

}


.price-heading{
  font-size: 24px;
  font-weight: bold;
 
}