.footer-container{
background-color:white;
text-align:center;
  padding: 20px;
 
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  }
  .footer-list{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;


  }
  .footer-container p {
  font-size: 14px;
  font-weight:bold;
 
  font-family: Arial, sans-serif;
  }
  .icon{
  font-size: 34px;
  margin: 10px;

  }
  .icon:hover{
  transform: scale(2.1);
  }
  .facebook{
  color: #3b5998;
  }
  .twitter{
  color: #1da1f2;
  }
  .instagram{
  color: #e4405f;
  }